<!-- Footer -->
<footer>
    <div class="footer">
        <p> Copyright © <%= new Date().getFullYear() %>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./public.js" charset="utf-8"></script>
</body>

</html>