<%- include("partials/header.ejs") %>
    <div id="aboutMainContant">
        <div class="about-text">
            <h2 style="font-size: 50px;">I am Kardash Mykola</h2>
            <h4>and I'm a proffesional developer!</h4>
            <a href="/contact"><button class="btn">Hire me</button></a>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>