<%- include("partials/header.ejs") %>
    <!-- Main Section -->
    <div class="main-container">

        <div id="background-image">
            <h2 id="ready">Ready, set,<br>
                soundtrack</h2>
            <p>Signature under the img</p>
        </div>
        <div class="content">
            <h2>Try it for free</h2>
            <p>Explore our music and try it out for 30 days – free of charge, no strings attached. During your free
                trial you can download and publish as many tracks you like in both videos or podcasts.</p>
            <button class="button3 btn header-button">Start free trial</button>
            <h2>Pick a subscription</h2>
            <p>A subscription is most beneficial if you publish videos regularly. All subscriptions give you full
                access to 40,000 tracks and 90,000 sound effects. Unlimited downloads and use.</p>
            <button style="background-color: #FDF6F0;" class="button3 btn">See pricing</button>
            <h2>Connect your channels</h2>
            <p>After signing up, you'll be able to connect your social media channels. All connected channels will
                be cleared, which means you can publish content with our music without worrying about copyright.</p>
        </div>
    </div>
    <div>
        <!-- <%# if(locals.admin===false){ %>
            <h1> Guest Login</h1>
            <%# } else{ %>
                <h1> Admin Login</h1>
                <%#}%> -->
    </div>

    <%- include("partials/footer.ejs") %>